################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/billsoft
/.vs/ProjectEvaluation

# Ignore bin directory
/bin/

# Ignore other common directories and files
/obj/
/.vscode/
/*.log
