################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/billsoft
/.vs/BillSoftUI/v17
