<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body customer-address p-0">
                <div class="p-1">
                    <div class="row gx-5">
                        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-6">
                            <div></div>
                            <div class="card border border-secondary custom-card">
                                <div>
                                    <p class="fs-15 fw-semibold m-2">Billing Address:</p>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="billContactName" class="form-label">Contact Name</label>
                                            <input type="text" class="form-control" id="billContactName" name="billContactName" placeholder="Contact Name">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="billAddress1" class="form-label">Address Line #1</label>
                                            <input type="text" class="form-control" id="billAddress1" name="billAddress1" placeholder="Address Line #1">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="billAddress2" class="form-label">Address Line#2</label>
                                            <input type="text" class="form-control" id="billaddress2" name="billaddress2" placeholder="Address Line #2">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="billCity" class="form-label">City</label>
                                            <input type="text" class="form-control" id="billCity" name="billCity" placeholder="City">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="billState" class="form-label">Bill State</label>
                                            <select class="form-control" data-trigger name="billState" id="billState" single>
                                                <option value="">Select</option>
                                                <option value="AP">Andhra Pradesh</option>
                                                <option value="BR">Bihar</option>
                                                <option value="MP">Madhya Pradesh</option>
                                                <option value="MH">Maharashtra</option>
                                                <option value="MN">Manipur</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="row gy-2">
                                                <div class="col-xl-6">
                                                    <label for="billZipcode" class="form-label">ZipCode</label>
                                                    <input type="text" class="form-control" id="billZipcode" name="billZipcode" placeholder="ZipCode">
                                                </div>
                                                <div class="col-xl-6">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="billWorkPhone" class="form-label">Work Phone</label>
                                            <input type="tel" class="form-control" id="billWorkPhone" name="billWorkPhone" placeholder="+123-456-7890">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="billWhatsappPhone" class="form-label">WhatsApp Phone</label>
                                            <input type="tel" class="form-control" id="billWhatsappPhone" name="billWhatsappPhone" placeholder="+123-456-7890">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-6">
                            <div class="card border border-secondary custom-card">
                                <div>
                                    <p class="fs-15 fw-semibold m-2">Shipping Address:</p>
                                </div>
                                <div class="card-body p-3 mb-1 border">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="shipContactName" class="form-label">Contact Name</label>
                                            <input type="text" class="form-control" id="shipContactName" name="shipContactName" placeholder="Contact Name">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="shipAddress1" class="form-label">Address Line #1</label>
                                            <input type="text" class="form-control" id="shipAddress1" name="shipAddress1" placeholder="Address Line #1">
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="shipAddress2" class="form-label">Address Line#2</label>
                                            <input type="text" class="form-control" id="shipAddress2" name="shipAddress2" placeholder="Address Line #2">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="shipCity" class="form-label">City</label>
                                            <input type="text" class="form-control" id="shipCity" name="shipCity" placeholder="City">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="shipState" class="form-label">State</label>
                                            <select class="form-control" data-trigger name="shipState" id="shipState">
                                                <option value="">Select</option>
                                                <option value="AP">Andhra Pradesh</option>
                                                <option value="BR">Bihar</option>
                                                <option value="MP">Madhya Pradesh</option>
                                                <option value="MH">Maharashtra</option>
                                                <option value="MN">Manipur</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="row gy-2">
                                                <div class="col-xl-6">
                                                    <label for="shipZipcode" class="form-label">ZipCode</label>
                                                    <input type="text" class="form-control" id="shipZipcode" name="shipZipcode" placeholder="ZipCode">
                                                </div>
                                                <div class="col-xl-6">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="shipWorkPhone" class="form-label">Work Phone</label>
                                            <input type="tel" class="form-control" id="shipWorkPhone" name="shipWorkPhone" placeholder="+123-456-7890">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="shipWhatsappPhone" class="form-label">WhatsApp Phone</label>
                                            <input type="tel" class="form-control" id="shipWhatsappPhone" name="shipWhatsappPhone" placeholder="+123-456-7890">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--End::row-1 -->