@{
    Layout = "_Layout";
}
<h6>welcome</h6>

    <div class="container">
        <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="my-5 d-flex justify-content-center">
                    <div class="card custom-card">
                        <div class="card-body p-5">
                            <h6>welcome</h6>
                            <h6><a href="@Url.Action("Index", "Login")">click here to login</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<!-- Custom-Switcher JS -->
    <script src="../assets/js/custom-switcher.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Show Password JS -->
    <script src="../assets/js/show-password.js"></script>
*@
