<div class="row gy-4">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <label for="udf1" class="form-label">UDF 1</label>
        <input type="text" class="form-control" id="udf1" name="udf1" placeholder="UDF1">
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <label for="udf2" class="form-label">UDF 2</label>
        <input type="text" class="form-control" id="udf2" name="udf2" placeholder="UDF2">
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <label for="udf3" class="form-label">UDF 3</label>
        <input type="text" class="form-control" id="udf3" name="udf3" placeholder="UDF3" />
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <label for="udf4" class="form-label">UDF 4</label>
        <input type="text" class="form-control" id="udf4" name="udf4" placeholder="UDF4">
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <label for="udf5" class="form-label">UDF 5</label>
        <input type="text" class="form-control" id="udf5" name="udf5" placeholder="UDF5">
    </div>
</div>