@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Dictionary<string, string> data = ViewBag.Resources;
    //var pageTitle = data[ResourceKeyEnum.AR_CUSTOMER_CREATE_PAGETITLE.ToString()];
    //ViewBag.Title = pageTitle;
    
    ViewBag.Title = ViewBag.Resources["AR_CUSTOMER_CREATE_PAGETITLE"];

    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<!-- Page Header -->
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">@ViewBag.Title</h1>
    @*<div class="ms-md-1 ms-0">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>*@
</div>
<!-- Page Header Close -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body add-customer p-0">
                <div class="p-2">
                    <div class="row gx-5">
                        <form id="frmCustomer" name="frmCustomer" class="needs-validation" action="" method="post" novalidate>
                            <div class="accordion accordion-border-primary accordions-items-seperate" id="create-customer">
                                @* Basic details start *@
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="basicDetails">
                                        <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#basic-details"
                                                aria-expanded="true" aria-controls="basic-details">
                                            Basic
                                        </button>
                                    </h2>
                                    <div id="basic-details" class="accordion-collapse collapse show"
                                         aria-labelledby="basicDetails" data-bs-parent="#create-customer">
                                        <div class="accordion-body">
                                            <partial name="_basic" />
                                        </div>
                                    </div>
                                </div>
                                @* Basic details end *@

                                @* Address details start *@
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="addressDetails">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#address-details"
                                                aria-expanded="false" aria-controls="address-details">
                                            Address
                                        </button>
                                    </h2>
                                    <div id="address-details" class="accordion-collapse collapse"
                                         aria-labelledby="addressDetails" data-bs-parent="#create-customer">
                                        <div class="accordion-body">
                                            <partial name="_address" />
                                        </div>
                                    </div>
                                </div>
                                @* Address details end *@

                                @* Customer fields start *@
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="customFields">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#custom-fields"
                                                aria-expanded="false" aria-controls="custom-fields">
                                            Custom fields
                                        </button>
                                    </h2>
                                    <div id="custom-fields" class="accordion-collapse collapse"
                                         aria-labelledby="customFields" data-bs-parent="#create-customer">
                                        <div class="accordion-body">
                                            <partial name="_customerFields" />
                                        </div>
                                    </div>
                                </div>
                                @* Customer fields end *@

                            </div>
                            <div class="px-4 py-3 border-top border-block-start-dashed d-sm-flex justify-content-end">
                                <button class="btn btn-primary me-md-2 btn-wave" type="button">Reset</button>
                                <button type="button" id="saveCustomer" name="saveCustomer" class="btn btn-primary btn-wave">Save Customer</button>
                                <input type="hidden" id="customerId" name="customerId" value="0" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .button-container {
        margin-top: 20px;
    }
</style>



@section Scripts{
    <script src="~/bs/js/ar_customer.js" asp-append-version="true"></script>
}